body {
  background-color: black;
}

/*Nav bar*/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  position: sticky;
}
.nav-item {
  float: left;
}
.nav-link {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-link:hover {
  color: white;
  transition: 0.5s;
}
.active {
  color: white;
}


/* Gallery container */
.gallery { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Image styling */
.gallery img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .gallery {grid-template-columns: 1fr;}
}